.tp-flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.tp-flex-direction-column {
    flex-direction: column;
}
.tp-flex-direction-row {
    flex-direction: row;
}
.tp-flex-header-item, .tp-flex-item, .tp-flex-item-row, .tp-flex-item-column {
    flex: 1 0 50%;
    width: 100%;
    height: 100%;
}
.tp-flex-item{
    position: relative;
    width: inherit;
    height: inherit;
}
.tp-flex-header-item{
    /*height: 2em;*/
    flex: 0;
}

.test-accordion-container{
    height: 100%;
    background: greenyellow;
    padding: 3px;
}

.test-row-open,
.test-row-closed{
    border: solid 1px white;
    background: lightsteelblue;
    padding: 3px;
    height: 100%;

    -webkit-transition: height 0.20s ease;
    -moz-transition: height 0.20s ease;
    -ms-transition: height 0.20s ease;
    -o-transition: height 0.20s ease;
    transition: height 0.20s ease;
}

.test-row-closed{
    height: 24px;
}
.test-row-closed > .test-panel-row-header{
    height: 24px;
}

.test-panel-row-header{
    background: gray;
    color: white;
    font-weight: bold;
    padding: 3px;
    height: 30px;
    cursor: pointer;
}

.test-panel-row-content {
    background: white;
    padding: 3px;
    height: 100%;
}

body{
    height: 100%;
    padding: 0px;
}

#app{
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0px;
    left: 0px;
    top: 0px;
    margin: 0px;
    overflow: hidden;
}